body{
    overflow-x: hidden;
}

section{
    min-height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg{
    transition: transform 0.5s ease-in;
}

footer{
    z-index: 3;
}

:root {
    --color-main: #002969;
    --color-sec: #85898c;
}

.bg-main {
    background-color: var(--color-main);
}

.bg-sec {
    background-color: var(--color-sec);
    
}

.c-main {
    color: var(--color-main);
}

.logoName{
    font-size: large;
    font-family: 'Anton', sans-serif;
    color: #002969;
    letter-spacing: 0.3rem;
}

.img-delta{
    background: linear-gradient(180deg, rgba(0, 41, 105, 0.2) 30%, rgba(0, 41, 105, 1) 100%), url(./media/pann2.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;     
}

.img-offerte{
    background: linear-gradient(180deg, rgba(0, 41, 105, 0) 30%, rgba(0, 41, 105, 1) 100%), url(./media/pannfoto1.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    object-fit: cover; 
}

.img-servizi img {
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: 20px; /* Aggiungi margine tra le immagini se lo desideri */
}

.title{
    text-align: center !important;
    font-size: 2.5rem;
    margin: 2rem 0rem;
}

.title-q{
    text-align: center !important;
    font-size: 1.5rem;
    margin: 2rem 0rem;
}

.faq{
    max-width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    text-align: center;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question h4 {
    flex-grow: 1;
    text-align: center;
}

.question svg{
    margin-left: auto;
}

.question h3{
    font-size: 2rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 1000em;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

.img-wapp{
    width: 60px;
    height: 60px;
    background: url(./media/wappfin.png);
    background-size: cover;
    position: fixed;
    left: 10px;
    top: 75%;
    z-index: 20;
    transition: top 1s ease, opacity 1s ease;
}

.img-wapp.hidden {
    top: 100%; 
    opacity: 0;
}

.logos{
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after{
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img{
    height: 100px;
    margin: 0 40px;
}

.logos2{
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos2:before,
.logos2:after{
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos2:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos2:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos2:hover .logos-slide2{
    animation-play-state: paused;
}

.logos-slide2{
    display: inline-block;
    animation: 35s slide2 infinite linear;
}

.logos-slide2 img{
    height: 100px;
    margin: 0 40px;
}

.logos3{
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos3:before,
.logos3:after{
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos3:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos3:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos3:hover .logos-slide3{
    animation-play-state: paused;
}

.logos-slide3{
    display: inline-block;
    animation: 10s slide3 infinite linear;
}

.logos-slide3 img{
    height: 350px;
    margin: 0 40px;
}

#myText {
    text-align: start;
}

.foot {
    background-color: rgba(0, 41, 105, 0.15);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide {
    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide3 {
    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@media (min-width: 500px) and (max-width: 1300px) {
    #myText {
        text-align: end;
    }
}

@media screen and (min-width: 1280px) {
    .img-delta{
        height: 85.5vh;
    }
    .img-offerte{
        height: 250px;
        width: 350px;
    }
    
    .img-servizi {
        white-space: nowrap; /* Evita che le immagini scendano a capo */
    }
    
    .img-wapp{
        width: 100px;
        height: 100px;
        left: 50px;
    }

    .title{
        font-size: 3rem;
    }
    
    .title-q{
        font-size: 2rem;
        margin: 2rem 0rem;
    }
}

.myButton {
	box-shadow: 5px 6px 7px 1px #002969;
	background:linear-gradient(to bottom, #002969 5%, #000dff 100%);
	background-color:#002969;
	border-radius:42px;
	border:1px solid #000dff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:10px 76px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #000dff 5%, #002969 100%);
	background-color:#000dff;
}
.myButton:active {
	position:relative;
	top:1px;
}